@model IMS_V1.ItemAttribute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ItemAttribute</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemAttribute_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemAttribute_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Itm_Num)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Itm_Num)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Attribute_Lookup.WebsiteAttributeValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attribute_Lookup.WebsiteAttributeValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActualAttributeValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActualAttributeValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
