@{
    ViewBag.Title = "DownloadExcel";
}
<br />
<br />
<br />
<br />

<div style="margin-right:250px">
    <p style="font-size: 1.0em;color: #880015;font-weight: bolder;text-align:center" >Download Excel Files</p>
</div>

 <Center>
        <table style="flex-align:center" >
            <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("Long gun spreadsheet", "DownLoadLongGunSheet")
                    </div>
                </td>
            </tr>
             <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("Hand gun spreadsheet", "DownLoadHandGunSheet")
                    </div>
                </td>
            </tr>
 <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("Ammo spreadsheet", "DownLoadAmmoSheet")
                    </div>
                </td>
            </tr>
 <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("IMS spreadsheet", "DownLoadIMSSheet")
                    </div>
                </td>
            </tr>
 <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("Marine spreadsheet", "DownLoadMarineSheet")
                    </div>
                </td>
            </tr>
 <tr>
                <td>
                    <div style="color: red">
                        @Html.ActionLink("NFA spreadsheet", "DownLoadNFASheet")
                    </div>
                </td>
            </tr>


        </table>
    </center>       
