@model IMS_V1.Attribute_Lookup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Attribute_Lookup</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AttributeLookup_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttributeLookup_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AttributeType.AttributeType1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttributeType.AttributeType1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebsiteAttributeValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebsiteAttributeValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APlusAttributeValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APlusAttributeValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultActualValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultActualValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
